workflows/agentic-job-search.json
{
  "name": "agentic-job-search",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        656
      ],
      "id": "c9c9b811-6556-455a-a405-d0c9ff60dedc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Access the organic results array directly from the input\nconst results = $input.first().json.organic;\n\nif (!results || results.length === 0) return [];\n\nreturn results.map(item => {\n  let company = \"Unknown\";\n  let platform = \"Other\"; \n  let location = \"Unknown\";\n\n  const urlString = item.link || \"\"; \n  const rawTitle = item.title || \"\";\n  const snippet = item.snippet || \"\";\n\n  // 1. Manually extract the hostname (clean \"www.\")\n  let hostname = \"\";\n  try {\n    hostname = new URL(urlString).hostname.replace('www.', '');\n  } catch (e) {\n    // Fallback for malformed URLs\n    if (urlString.includes(\"//\")) {\n      hostname = urlString.split(\"//\")[1].split(\"/\")[0].replace('www.', '');\n    }\n  }\n\n  // --- LOCATION DETECTIVE ---\n  // A. Check for explicit \"Location:\" label in snippet (Common in Google Jobs)\n  const locMatch = snippet.match(/Location:\\s*([^.\\n|]+)/i);\n  if (locMatch && locMatch[1]) {\n    location = locMatch[1].trim();\n  }\n  // B. Check for explicit \"Remote\" or \"Hybrid\" keywords if no city found\n  else if (snippet.toLowerCase().includes(\"remote\")) {\n    location = \"Remote\";\n  }\n  else if (snippet.toLowerCase().includes(\"hybrid\")) {\n    location = \"Hybrid\";\n  }\n  // C. Fallback: Check if Title ends with location (e.g., \"Data Analyst - Austin, TX\")\n  else if (rawTitle.includes(\" - \")) {\n    const parts = rawTitle.split(\" - \");\n    const potentialLoc = parts[parts.length - 1];\n    // If the last part is short (< 30 chars) and doesn't look like a tagline\n    if (potentialLoc.length < 30 && !potentialLoc.toLowerCase().includes(\"apply\") && !potentialLoc.toLowerCase().includes(\"job\")) {\n      location = potentialLoc.trim();\n    }\n  }\n\n  // --- PLATFORM & COMPANY EXTRACTION ---\n\n  // 2. SUBDOMAIN-BASED ATS (Enterprise)\n  if (hostname.includes(\"myworkdayjobs.com\")) {\n    company = hostname.split('.')[0]; \n    platform = \"Workday\";\n  } \n  else if (hostname.includes(\"taleo.net\")) {\n    company = hostname.split('.')[0];\n    platform = \"Taleo\";\n  }\n  else if (hostname.includes(\"icims.com\")) {\n    company = hostname.split('.')[0]; // usually companyname.icims.com\n    platform = \"iCIMS\";\n  }\n  else if (hostname.includes(\"jobvite.com\")) {\n    // Jobvite often puts company in path: jobs.jobvite.com/COMPANY\n    const parts = urlString.split(\"jobvite.com/\");\n    if (parts[1]) company = parts[1].split(\"/\")[0];\n    platform = \"Jobvite\";\n  }\n\n  // 3. PATH-BASED ATS (Modern)\n  else if (hostname.includes(\"greenhouse.io\")) {\n    // greenhouse.io/COMPANY or boards.greenhouse.io/COMPANY\n    const parts = urlString.split(\"greenhouse.io/\");\n    if (parts[1]) company = parts[1].split(\"/\")[0];\n    platform = \"Greenhouse\";\n  }\n  else if (hostname.includes(\"lever.co\")) {\n    // jobs.lever.co/COMPANY\n    const parts = urlString.split(\"lever.co/\");\n    if (parts[1]) company = parts[1].split(\"/\")[0];\n    platform = \"Lever\";\n  }\n  else if (hostname.includes(\"ashbyhq.com\")) {\n    // jobs.ashbyhq.com/COMPANY\n    const parts = urlString.split(\"ashbyhq.com/\");\n    if (parts[1]) company = parts[1].split(\"/\")[0];\n    platform = \"Ashby\";\n  }\n\n  // 4. NEW AGGREGATORS & PORTALS (Added Logic)\n  else if (hostname.includes(\"smartrecruiters.com\")) {\n    // smrtr.io or jobs.smartrecruiters.com/COMPANY\n    const parts = urlString.split(\"smartrecruiters.com/\");\n    if (parts[1]) company = parts[1].split(\"/\")[0];\n    platform = \"SmartRecruiters\";\n  }\n  else if (hostname.includes(\"jobright.ai\")) {\n    platform = \"JobRight\";\n    // JobRight acts as a wrapper, company extraction is hard from URL, relies on Fallback\n  }\n  else if (hostname.includes(\"wellfound.com\")) {\n    // wellfound.com/company/COMPANY-NAME\n    if (urlString.includes(\"/company/\")) {\n       company = urlString.split(\"/company/\")[1].split(\"/\")[0];\n    }\n    platform = \"Wellfound\";\n  }\n  else if (hostname.includes(\"builtin.com\")) {\n    // builtin.com/company/COMPANY-NAME\n    if (urlString.includes(\"/company/\")) {\n       company = urlString.split(\"/company/\")[1].split(\"/\")[0];\n    }\n    platform = \"BuiltIn\";\n  }\n  else if (hostname.includes(\"himalayas.app\")) {\n    // himalayas.app/companies/COMPANY/jobs\n    if (urlString.includes(\"/companies/\")) {\n       company = urlString.split(\"/companies/\")[1].split(\"/\")[0];\n    }\n    platform = \"Himalayas\";\n  }\n\n  // 5. COMPANY FALLBACK (The \"Catch-All\")\n  if (company === \"Unknown\" || !company || company.length < 2) {\n    // Strategy A: Look for \" at CompanyName\" in the Google Title\n    if (rawTitle.toLowerCase().includes(\" at \")) {\n      // Split by \" at \" and take the last part\n      const parts = rawTitle.split(/ at /i); \n      company = parts[parts.length - 1].trim();\n    } \n    // Strategy B: Use the hostname if all else fails\n    else {\n      company = hostname.split(\".\")[0];\n    }\n  }\n\n  // --- DATA CLEANUP ---\n  // Remove common URL clutter from company names\n  company = decodeURIComponent(company)\n    .replace(\"jobs-\", \"\")\n    .replace(\"careers-\", \"\")\n    .replace(\"-careers\", \"\")\n    .replace(/-/g, \" \") // Replace dashes with spaces\n    .replace(/\\b(inc|llc|ltd|corp)\\b/gi, \"\") // Remove legal entities\n    .trim();\n  \n  // Capitalize first letter of each word\n  company = company.replace(/\\w\\S*/g, (w) => (w.replace(/^\\w/, (c) => c.toUpperCase())));\n\n  // Clean Title (remove everything after \" - \" or \" | \" or \" at \")\n  // This keeps \"Product Manager\" clean from \"Product Manager - Remote - $150k\"\n  let cleanTitle = rawTitle\n      .split(\" - \")[0]\n      .split(\" | \")[0]\n      .split(\" at \")[0]\n      .trim();\n\n  return {\n    title: cleanTitle,\n    company: company,\n    platform: platform,\n    location: location,\n    url: urlString,\n    snippet: snippet,\n    date_posted_text: item.date || \"Unknown\", \n    date_found: new Date().toISOString().split('T')[0]\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        304
      ],
      "id": "1b286b0a-916f-4a79-8a03-4dfab8d5e985",
      "name": "Extract Postings"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Job_Search_Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Job_Hash",
              "lookupValue": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        448
      ],
      "id": "2fd623f5-3370-46e9-aa01-b0c8025ee852",
      "name": "Query Job Search Database",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "value": "={{ $json.company }}{{ $json.title }}"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        96,
        304
      ],
      "id": "82eecf1e-f2f0-409c-b36a-1b67da5dd2df",
      "name": "Generate MD5 Hash"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: {{ $json.title }}\nCompany: {{ $json.company }}\nURL: {{ $json.url }}\nJob Hash: {{ $json.data }}\n\nJob Description / Snippet:\n{{ $json.snippet }}",
        "options": {
          "systemMessage": "=You are an expert Recruitment Architect. Your goal is to evaluate a Job Description (JD) for a specific high-value candidate.\n\n### 1. THE CANDIDATE PROFILE\n\n* **Core Identity:** Senior Data & ML Product Professional (Hybrid PM + BA).\n* **Total Experience:** 8 Years (Flexible interpretation: Fits JDs asking for 3-10 years).\n* **Education:** MBA + Computer Engineering Degree.\n* **Target Domains:** **Financial Services**, **Media Analytics**, and **AI/ML Products**.\n\n### 2. CLASSIFICATION LOGIC (Assign One)\n\nAnalyze the JD responsibilities and assign the role type:\n\n* **ML Product Owner:** Focus on ML model lifecycles, training data quality, MLOps.\n* **Data Product Manager:** Focus on roadmap, ROI, \"what to build,\" and monetization of data assets.\n* **Data Product Owner:** Focus on backlog, user stories, Agile execution, and delivery.\n* **Technical Product Manager (TPM):** Focus on architecture, APIs, data contracts, and platform scalability.\n* **Sr. Business Analyst:** Focus on requirements (BRD), SQL analysis, UAT, and process mapping.\n* **Mismatch:** Networking, Hardware, IT Infrastructure, Sales, Marketing, HR, Pure Coding.\n\n### 3. THE \"GATEKEEPER\" RULES (Critical Filters)\n\nIf any rule is violated, set `match_score` to 0.\n\n* **Rule A: Sector Enforcement**\n* **REJECT:** Healthcare, Hospital Systems, Biotech, Pharma, Clinical.\n* **REJECT:** Federal Govt, Defense, Aerospace, \"Public Trust,\" \"Security Clearance.\"\n\n* **Rule B: Experience Range (3-10 Years)**\n* **REJECT:** Entry Level (<2 years) or Executive (VP/Director/Head of).\n* **ACCEPT:** Roles asking for 3, 5, 7, or 8 years.\n\n* **Rule C: Role Function**\n* **REJECT:** \"Software Engineer,\" \"Data Engineer\" (Pure Coding >50%).\n* **REJECT:** \"Data Scientist\" (PhD/Math heavy).\n\n* **Rule D: The Data/AI Content Test (CRITICAL)**\n* **MUST HAVE:** The JD **must** explicitly mention managing **\"Data,\" \"Analytics,\" \"Insights,\" \"AI,\" \"Machine Learning,\"** or **\"Reporting\"** as the primary product.\n\n### 4. SCORING BOOSTERS (Max 100)\n\nStart at 60. Add points for:\n* **The \"Data\" Fit (+25):** \"Data Product Owner,\" \"Data Product Manager.\"\n* **The \"ML Unicorn\" Fit (+25):** \"Machine Learning Product Owner,\" \"AI Product Manager.\"\n* **The \"Perfect Domain\" (+20):** Wealth Management, Banking, AdTech.\n\n### 5. OUTPUT FORMAT (JSON ONLY)\n\n{\n\"category\": \"ML Product Owner\" | \"Data PM\" | \"Data PO\" | \"TPM\" | \"Data BA\" | \"Data Strategy\" | \"Mismatch\",\n\"match_score\": number (0-100),\n\"resume_to_use\": \"PM_RESUME\" | \"BA_RESUME\",\n\"rejection_reason\": \"If score is 0, explain why\",\n\"pitch_hook\": \"1-sentence intro on why you are suitable for the role\",\n\"job_hash\": {{ $json.data }}\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        320
      ],
      "id": "5b07578c-211e-4f51-9e48-95cd72dc03ae",
      "name": "AI - Is Job Relevant?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ⚙️ MODE MUST BE: \"Run Once for Each Item\"\n\n// 1. Get the raw text from the CURRENT item ($json)\nconst raw = $json.output || \"\";\n\n// 2. Safety Check: If AI failed to reply\nif (!raw) {\n  return { json: { error: \"No output from AI\", category: \"Mismatch\" } };\n}\n\n// 3. Clean Markdown (Remove ```json and ```)\nconst cleaned = raw.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\ntry {\n  // 4. Parse the clean string\n  const parsed = JSON.parse(cleaned);\n  \n  // 5. Return the clean object (n8n will automatically combine all 18 results)\n  return { json: parsed };\n\n} catch (e) {\n  // 6. Handle broken JSON\n  return { \n    json: { \n      error: \"JSON Parse Failed\", \n      rawText: raw,\n      category: \"Mismatch\",\n      match_score: 0\n    } \n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        320
      ],
      "id": "99695d7e-8ee5-47a3-9325-80533e75387c",
      "name": "Extract LLM Values"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Job_Search_Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job_Hash": "={{ $json.data }}",
            "Company": "={{ $json.company }}",
            "Title": "={{ $json.title }}",
            "Category": "={{ $json.category }}",
            "Match_Score": "={{ $json.match_score }}",
            "Pitch": "={{ $json.pitch_hook }}",
            "URL": "={{ $json.url }}",
            "Date_Found": "={{ $json.date_found }}",
            "Source": "={{ $json.platform }}",
            "Status": "New Lead",
            "Date_Posted": "={{ $json.date_posted_text }}",
            "Location": "={{ $json.location }}",
            "Job Summary": "={{ $json.snippet }}",
            "Rejection Reason": "={{ $json.rejection_reason }}",
            "Resume to Use": "={{ $json.resume_to_use }}"
          },
          "matchingColumns": [
            "Job_Hash"
          ],
          "schema": [
            {
              "id": "Job_Hash",
              "displayName": "Job_Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        320
      ],
      "id": "8159171a-819d-40ba-a1f9-b3475a523632",
      "name": "Update Job Search Database",
      "credentials": {
        "googleApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "data",
              "field2": "Job_Hash"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        320
      ],
      "id": "6b2805fd-c159-4dcb-9dd8-488bc4a21e11",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// ⚙️ CONFIGURATION\nconst MAX_PAGES = 5; // Fetch up to 10 pages (approx 30-100 results)\n// ⚠️ SECURITY: Use environment variable instead of hardcoding\nconst API_KEY = $env.SERPER_API_KEY || 'YOUR_KEY_HERE'; \n\nconst QUERY_JSON = {\n  \"q\": \"(\\\"Data Product Manager\\\" OR \\\"Data Product Owner\\\" OR \\\"Technical Product Manager\\\" OR \\\"Senior Business Analyst\\\" OR \\\"Technical Business Analyst\\\" OR \\\"Data Strategist\\\" OR \\\"Business Analyst\\\" OR \\\"Product Manager\\\" OR \\\"ML Product Manager\\\" OR \\\"AI Product Manager\\\"  OR \\\"Machine Learning Product Manager\\\" OR \\\"Artificial Intelligence Product Manager\\\") (\\\"Finance\\\" OR \\\"Banking\\\" OR \\\"Wealth Management\\\" OR \\\"Media\\\" OR \\\"Streaming\\\" OR \\\"Entertainment\\\" OR \\\"Fintech\\\" OR \\\"Tech\\\" OR \\\"Financial Services\\\") (\\\"Canada Remote\\\" OR \\\"United States\\\" OR \\\"USA\\\") site:greenhouse.io OR site:lever.co OR site:ashbyhq.com OR site:myworkdayjobs.com OR site:smartrecruiters.com OR site:jobright.ai OR site:wellfound.com OR site:builtin.com OR site:himalayas.app OR site:taleo.net OR site:icims.com OR site:jobvite.com -intitle:Director -intitle:VP -intitle:Principal -intitle:Intern -intitle:Junior -intitle:\\\"Entry Level\\\" -intitle:Staff -intitle:Head -intitle:PhD -intitle:Research'\",\n  \n  \"num\": 20, \n  \"tbs\": \"qdr:d2\", // Past 2 days\n  \"gl\": \"us\", \n  \"hl\": \"en\"\n};\n\n// 🏗️ EXECUTION LOGIC\nlet allJobs = [];\n\nfor (let i = 0; i <= MAX_PAGES; i++) {\n  const payload = {\n    ...QUERY_JSON,\n    page: i + 1 \n  };\n\n  try {\n    // Perform the API Call directly from JavaScript\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://google.serper.dev/search',\n      headers: {\n        'X-API-KEY': API_KEY,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify(payload),\n      json: true\n    });\n\n    const pageResults = response.organic || [];\n    \n    if (pageResults.length === 0) break;\n\n    allJobs = allJobs.concat(pageResults);\n    \n    await new Promise(r => setTimeout(r, 500));\n\n  } catch (error) {\n    console.log(`Error fetching page ${i + 1}:`, error);\n    break; \n  }\n}\n\n// 🧹 DEDUPLICATION \nconst uniqueJobs = [];\nconst seenUrls = new Set();\n\nfor (const job of allJobs) {\n  if (!seenUrls.has(job.link)) {\n    seenUrls.add(job.link);\n    uniqueJobs.push(job);\n  }\n}\n\nreturn [{ json: { organic: uniqueJobs } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        304
      ],
      "id": "972b6d7c-a26e-48af-9145-e890c92a55b8",
      "name": "Query Serper to get Job Postings"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"Resume to Use\"] }}",
                    "rightValue": "PM_RESUME",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e6db65a7-8325-4c1e-a863-0b7f8b873a0d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "manager"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f2baa412-e756-49d4-8831-fb2cbbce7788",
                    "leftValue": "={{ $json[\"Resume to Use\"] }}",
                    "rightValue": "BA_RESUME",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "analyst"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1936,
        320
      ],
      "id": "e697e100-fa93-4929-ad0c-b9203141ace0",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f93fc5bf-ebbd-421a-8bde-188b47374e63",
              "name": "resume_pm_text",
              "value": "[PASTE YOUR PRODUCT MANAGER RESUME HERE - FULL TEXT]",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        112
      ],
      "id": "b6f2907c-8286-4834-b7b4-1387999d57fb",
      "name": "Set Resume - Product Manager"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51891a59-813f-4144-af05-93d5966842d5",
              "name": "resume_ba_text",
              "value": "[PASTE YOUR BUSINESS ANALYST RESUME HERE - FULL TEXT]",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        512
      ],
      "id": "51e1c96e-7e94-45ec-8786-251e507f8cb3",
      "name": "Set Resume - Business Analyst"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is her current resume - {{ $json.resume_pm_text }}\n\nThese are the job parameters that she is applying for - \n1. Job URL - {{ $json.URL }}\n2. Pitch - {{ $json.Pitch }}\n3. Snippet - {{ $json[\"Job Summary\"] }}\n4. Category - {{ $json.Category }}\n5. Job Title - {{ $json.Title }}\n6. Category - {{ $json.Category }}\n",
        "options": {
          "systemMessage": "=You are a Senior Resume Strategist and Career Coach. Your goal is to optimize a specific high-value candidate's resume for a target Job Description (JD).\n\n### 1. THE CANDIDATE PROFILE (Source of Truth)\n* **Identity:** Senior Data & ML Product Professional.\n* **Experience:** 8 Years Total.\n* **Key Assets:**\n    * **[Previous Role 1]:** [Highlight Metric 1]\n    * **[Previous Role 2]:** [Highlight Metric 2]\n\n### 2. ROLE PHYSICS\nAnalyze the JD and enforce the correct tone based on the role type:\n* **ML Product Owner:** Focus on \"Model Lifecycle,\" \"MLOps.\"\n* **Data Product Manager:** Focus on \"Roadmap,\" \"ROI.\"\n\n### 3. TASK INSTRUCTIONS\n\n**TASK A: THE PROFESSIONAL SUMMARY**\nRewrite summary to be high-impact.\n\n**TASK B: EVIDENCE-BASED ENHANCEMENT**\nSelect the top 3 bullet points from her background that best align with this specific JD.\n\n**TASK C: THE \"TAILORING ACTION PLAN\"**\nProvide specific **\"Patches\"** she can copy-paste.\n\n### 4. OUTPUT FORMAT (JSON ONLY)\n{\n  \"role_type_detected\": \"ML Product Owner\" | \"Data PM\" | \"TPM\" | \"Strategy\",\n  \"tailored_summary\": \"Revised summary text...\",\n  \"enhanced_bullets\": [ \"Bullet 1...\" ],\n  \"critical_gaps\": \"Missing skills.\",\n  \"tailoring_action_plan\": [\n    {\n      \"section\": \"Skills Section\",\n      \"instruction\": \"Instruction.\",\n      \"suggested_text\": \"Exact text.\"\n    }\n  ],\n  \"match_verdict\": \"High\" | \"Medium\" | \"Low\",\n  \"job_hash\": {{ $json.Job_Hash }}\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2464,
        0
      ],
      "id": "4ad13f07-0767-46f4-92b9-7bf778848992",
      "name": "Agent for Product Manager"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is her current resume - {{ $json.resume_ba_text }}\n\n\nThese are the job parameters that she is applying for - \n1. Job URL - {{ $json.URL }}\n2. Pitch - {{ $json.Pitch }}\n3. Snippet - {{ $json[\"Job Summary\"] }}\n4. Category - {{ $json.Category }}\n5. Job Title - {{ $json.Title }}\n6. Category - {{ $json.Category }}\n",
        "options": {
          "systemMessage": "=You are a Senior Resume Strategist and Career Coach. Your goal is to optimize a specific high-value candidate's resume for a target Job Description (JD).\n\n### 1. THE CANDIDATE PROFILE (Source of Truth)\n* **Identity:** Senior Business Analyst & Data Strategy Professional.\n\n### 2. ROLE PHYSICS\nAnalyze the JD and enforce the correct tone based on the role type:\n* **Senior Business Analyst:** Focus on \"Requirements Gathering.\"\n* **Data Strategy:** Focus on \"Governance.\"\n\n### 3. TASK INSTRUCTIONS\n**TASK A: THE PROFESSIONAL SUMMARY**\nRewrite summary to be authoritative.\n\n**TASK B: EVIDENCE-BASED ENHANCEMENT**\nSelect top 3 bullet points aligned with JD.\n\n**TASK C: THE \"TAILORING ACTION PLAN\"**\nProvide specific \"Patches\".\n\n### 4. OUTPUT FORMAT (JSON ONLY)\n{\n  \"role_type_detected\": \"Senior BA\" | \"Data Strategy\" | \"Technical Analyst\",\n  \"tailored_summary\": \"Revised summary...\",\n  \"enhanced_bullets\": [ \"Bullet 1...\" ],\n  \"critical_gaps\": \"Missing skills.\",\n  \"tailoring_action_plan\": [\n    {\n      \"section\": \"Skills\",\n      \"instruction\": \"Instruction.\",\n      \"suggested_text\": \"Exact text.\"\n    }\n  ],\n  \"match_verdict\": \"High\" | \"Medium\" | \"Low\",\n  \"job_hash\": {{ $json.Job_Hash }}\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2464,
        512
      ],
      "id": "2b3a5f19-46a8-4cc6-94bc-979e584fc58b",
      "name": "Agent for Business Analyst"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2512,
        256
      ],
      "id": "0e0d5940-0d2c-48ef-9bc0-25177fdc824f",
      "name": "Product Manager",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2544,
        736
      ],
      "id": "98ae453a-e714-462d-b58b-c19eec157b79",
      "name": "Business Analyst",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6ec805d4-4b51-4cd1-9e7e-4eb4305d9479",
              "leftValue": "={{ $json.Match_Score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1680,
        320
      ],
      "id": "715fda44-ac22-4a70-bce2-509a0196620d",
      "name": "Filter Low Scores"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Get raw content from the AI node\nconst raw = $json.output || \"\"; \n\n// 2. Safety: If AI failed or returned empty\nif (!raw) {\n  return { json: { error: \"No output from AI\" } };\n}\n\n// 3. Clean Markdown\nconst cleaned = raw.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\ntry {\n  // 4. Parse into a real JSON Object\n  const parsed = JSON.parse(cleaned);\n\n  // 5. SERIALIZATION (Flattening Objects for Spreadsheet Cells)\n\n  // A. Format \"Enhanced Bullets\"\n  const bulletsFormatted = parsed.enhanced_bullets\n    ? parsed.enhanced_bullets.map(b => {\n        if (typeof b === 'string') return `• ${b}`;\n        const context = b.original_context || \"General\";\n        const text = b.enhanced_bullet || JSON.stringify(b); \n        return `• [${context}]: ${text}`; \n      }).join(\"\\n\\n\") \n    : \"\";\n\n  // B. Format \"Action Plan\"\n  const actionPlanFormatted = parsed.tailoring_action_plan\n    ? parsed.tailoring_action_plan.map(item => \n        `[SECT: ${item.section || \"General\"}]\\n👉 ${item.instruction || \"\"}\\n📝 Suggestion: \"${item.suggested_text || \"\"}\"`\n      ).join(\"\\n\\n\") \n    : \"\";\n\n  // 6. Return the clean, flat object\n  return { \n    json: { \n      tailored_summary: parsed.tailored_summary,\n      critical_gaps: parsed.critical_gaps,\n      match_verdict: parsed.match_verdict,\n      job_hash: parsed.job_hash,\n      enhanced_bullets: bulletsFormatted,      \n      action_plan: actionPlanFormatted        \n    } \n  };\n\n} catch (e) {\n  return { \n    json: { \n      error: \"JSON Parse Failed\", \n      raw_text: raw \n    } \n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        304
      ],
      "id": "b827a47a-6c12-4e27-8cdb-f0526645cf99",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2816,
        304
      ],
      "id": "ac513400-0745-43b1-be34-32b4cbe80871",
      "name": "Merge1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Job_Search_Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tailored Summary": "={{ $json.tailored_summary }}",
            "Enhanced Bullets": "={{ $json.enhanced_bullets }}",
            "Action Plan": "={{ $json.action_plan }}",
            "Critical Gaps": "={{ $json.critical_gaps }}",
            "Match Verdict": "={{ $json.match_verdict }}",
            "Job_Hash": "={{ $json.job_hash }}"
          },
          "matchingColumns": [
            "Job_Hash"
          ],
          "schema": [
            {
              "id": "Job_Hash",
              "displayName": "Job_Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3264,
        304
      ],
      "id": "7662f7cf-c659-4d17-9472-68c189f00ebe",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7,15,23 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        304
      ],
      "id": "119771ae-eea0-4e1b-be15-475766f5585c",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI - Is Job Relevant?",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Postings": {
      "main": [
        [
          {
            "node": "Generate MD5 Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Job Search Database": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate MD5 Hash": {
      "main": [
        [
          {
            "node": "Query Job Search Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Is Job Relevant?": {
      "main": [
        [
          {
            "node": "Extract LLM Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract LLM Values": {
      "main": [
        [
          {
            "node": "Update Job Search Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Serper to get Job Postings": {
      "main": [
        [
          {
            "node": "Extract Postings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI - Is Job Relevant?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job Search Database": {
      "main": [
        [
          {
            "node": "Filter Low Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set Resume - Product Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Resume - Business Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Resume - Product Manager": {
      "main": [
        [
          {
            "node": "Agent for Product Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Resume - Business Analyst": {
      "main": [
        [
          {
            "node": "Agent for Business Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Manager": {
      "ai_languageModel": [
        [
          {
            "node": "Agent for Product Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Business Analyst": {
      "ai_languageModel": [
        [
          {
            "node": "Agent for Business Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter Low Scores": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent for Product Manager": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent for Business Analyst": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Query Serper to get Job Postings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "46cf692d-b1d1-464c-932c-25d15ed93c1a",
  "id": "7aDh7FngJOSbJfzBlhnDu",
  "tags": []
}